<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	
	<display-name>TripPlanningApplication</display-name>
 
 
   <servlet>
  	<servlet-name>spring-dispatcher</servlet-name>
        <servlet-class>
                  org.springframework.web.servlet.DispatcherServlet
        </servlet-class>
  </servlet>
 
  <servlet-mapping>
 	<servlet-name>spring-dispatcher</servlet-name>
        <url-pattern>/</url-pattern>
  </servlet-mapping>
    
<!--   Code for checking availibility of user credential for in RegisterCredential.jsp -->
  
  <servlet>  
        <servlet-name>check</servlet-name>  
        <servlet-class>com.tripapplication.Servelet.CheckAvailability</servlet-class>  
    </servlet>  
    <servlet-mapping>  
        <servlet-name>check</servlet-name>  
        <url-pattern>/check</url-pattern>  
    </servlet-mapping>  
    <session-config>  
        <session-timeout>  
            30  
        </session-timeout>  
    </session-config>  
    <welcome-file-list>  
        <welcome-file>index.jsp</welcome-file>  
        </welcome-file-list>  
        
  
</web-app>